.home {
    background-color: #fffafa; 
    min-height: 100vh;       
    padding: 20px;
}
.group-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 100%;   /* full width */
    transition: transform 0.2s ease;
  }
  
  .group-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
.home p{
    color: grey;
    font-size: large;
}
.numbers{
    font-size: smaller;
}