.sidebar {
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
  }
  
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .nav-item img {
    filter: grayscale(100%) brightness(40%);
    transition: filter 0.2s ease;
  }
  
  .nav-item:hover {
    background-color: #f1f5ff;
    color: #2563eb; 
  }
  
  .nav-item:hover img {
    filter: invert(29%) sepia(99%) saturate(7499%) hue-rotate(199deg) brightness(92%) contrast(101%);
  }
  
.sidebar button {
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
}

@media (min-width: 769px) {
  .sidebar button {
    display: none; 
  }
}
.sidebar-container {
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: absolute;
    z-index: 1050;
    width: 200px;
    height: 100vh;
    transform: translateX(-100%); 
  }

  .sidebar-container.open {
    transform: translateX(0); 
  }
}

  
  